# Permissions

Place an X in the appropriate bracket below to specify if you would like your group's project to be made available to the public. (Note that PIDs will be scraped from the public submission, but student names will be included.)

* [ ] YES - make available
* [X] NO - keep private

# Overview

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@




NEED TO FILL THIS PART OUT: "INCLUDE 3-4 SENTENCES SUMMARIZING YOUR PROJECT"





@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

# Names

* Darren Chang
* Shiyin Liang
* Haozong Zeng
* Kevin Chin

# Group Members IDs

* A15086464
* A14100643
* A15490128
* A15479815

# Research Question

From the six variables of social support, personal freedom, government corruption level, generosity, GDP per capita, and life expectancy, which one contributes the most to the average citizen’s happiness?

# Background and Prior Work

According to the World Happiness Report, Finland is currently the happiest country in the world. In fact Nordic countries have consistently taken the title for happiest country. The World Happiness Report is an annual poll on global happiness that estimates the impact of six factors--economy, levels of social support provided by government, healthy life expectancy, personal freedom, generosity, and perceptions of corruption--has on a citizen’s happiness and satisfaction with life. In the United States, we pride ourselves on having a large degree of personal freedom and having one of the world’s strongest economies. Yet, we are only the world’s 19th happiest country. In fact, Nordic countries are rated to be the happiest, despite being neither the richest nor the most free. Obviously, money isn’t buying Americans happiness and neither is freedom. So what exactly is making Finland and other Nordic countries the happiest in the world and how can we use this information to better ourselves? In this project, we aim to identify the factor that has the most impact on happiness. The inspiration behind this goal comes in light of the political division and general unhappiness in the U.S in recent times as we fall in ranks every year in our happiness ratings. We believe that this project is important because our findings in this project will offer valuable insight into what area the government should focus on for the people to lead happier lives. From a preliminary exploration of the data, we hypothesize that social support is the most important factor in happiness. Initially, we hypothesized that a strong economy would be the most important factor in citizen happiness. We reasoned that without basic economic security, people would be unable to fulfill their basic physiological and security needs and thus economy is the most important factor from turning unhappy citizens into happy citizens. However, after a closer look at the data, we noticed that while Finland, Norway, Denmark and Switzerland--the happiest countries in the last 5 years--do not always rank consistently at the top for the other factors, they always rank in the top ten for social support. According to Maslow’s hierarchy of needs--a psychology theory on happiness--physiological and safety needs need to be met in order for one to feel content but feelings of love and belonging are higher in the hierarchy and bring one more joy. Therefore, having social support can be argued to bring more happiness than just strong economy alone according to Maslow’s hierarchy of needs. Thus, we hypothesize that social support is the factor with the most impact in increasing one’s happiness.
Projects with a similar goal of identifying a mix of the most important factors to a happy life have been done with the World Happiness Report 2017 data. Some utilized the World Happiness Report data only and others mixed in WHO suicide statistics. Most of them built predictive models and valued high accuracy for their model. One project found that all the independent variables--family, economy, life expectancy, trust, freedom, generosity and dystopia residual--have a significant impact on happiness. For our project, we will be using the World Happiness Report data in 2019 which took out the variables family, trust, and dystopia residual and put in corruption levels and social support instead. Unlike the other projects that aim to find a mix of factors, we aim to find one factor--the most important factor in happiness. Instead of building a predictive model with the best mix of factors for a high accuracy rating, we will focus on building a predictive model for each variable and identifying the variable with the best predictive qualities.

References:

(1) Why Finland is the Happiest Country in the World https://www.sbs.com.au/news/why-finland-is-the-happiest-country-in-the-world

(2) Finland is the World’s Happiest Country - Again https://www.weforum.org/agenda/2019/03/finland-is-the-world-s-happiest-country-again/

(3) World Happiness Report Dataset https://www.kaggle.com/unsdsn/world-happiness

(4) Mental Health, Happiness, Economics, Human Freedom https://www.kaggle.com/rblcoder/mental-health-happiness-economics-human-freedom

(5) Happiness 2017 https://www.kaggle.com/javadzabihi/happiness-2017-visualization-prediction#prediction

(6) World Happiness Report 2019 https://worldhappiness.report/ed/2019/#read

# Hypothesis

We predict that countries that offer the most social support will have the highest happiness ratings. 
In other words, social support is the factor with the most impact on a citizen’s happiness.

# Datasets(s)

Dataset Name: World Happiness Report 2015
Link to the dataset: https://www.kaggle.com/unsdsn/world-happiness#2015.csv
Number of observations: 1896

2015's World Happiness Report tracked the happiness levels in 158 countries. Besides each country's happiness ranking and raw happiness score, it also includes the extent of how much economy, social support, life expectancy, freedom, and perception of government corruption, generosity and dystopia residual contributed to each country's happiness calculations.  

Dataset Name: World Happiness Report 2016
Link to the dataset: https://www.kaggle.com/unsdsn/world-happiness#2016.csv
Number of observations: 2041

2016's World Happiness Report tracked the happiness levels of 157 countries. In addition to the columnns included in 2015's World Happiness Report, it also includes a lower and upper confidence interval.

Dataset Name: World Happiness Report 2017
Link to the dataset:https://www.kaggle.com/unsdsn/world-happiness#2017.csv
Number of observations: 1860

2017's World Happiness Report tracked the happiness levels of 155 countries. Like 2015 and 2016, it also looked at the same six variables as factors to happiness. 

Dataset Name: World Happiness Report 2018
Link to the dataset:https://www.kaggle.com/unsdsn/world-happiness#2018.csv
Number of observations: 1404

2018's World Happiness Report tracked the happiness levels of 156 countries. It no longer features the obsservation "Dystopia residual", which is a measurement against dystopia (measured by summing up the lowest scores observed for each of the other six variables) but since we will not be studying dystopia residual in our project, we need not worry about it.

Dataset Name: World Happiness Report 2019
Link to the dataset:https://www.kaggle.com/unsdsn/world-happiness#2019.csv
Number of observations: 1404

2019's World Happiness report tracked the happiness levels of 156 countries. It includes all the same columns as 2018's dataset.


@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ NEED TO WRITE ABOUT HOW TO COMBINE THESE DATASETS@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
As you may have noticed, the World Happiness Report surveys a different amount of countries each year as new countries emerge/combine with other countries and places with contentious independence statuses are surveyed in one year but not the next. So instead of looking at the trends of how a country's rank rises or falls in accordance to the trends of their six variables' scores, we will look at how much
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ NEED TO WRITE ABOUT HOW TO COMBINE THESE DATASETS@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

# Setup

In [76]:
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.linear_model import RidgeCV, LassoCV, Ridge, Lasso

import matplotlib
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
import pandas as pd

In [77]:
df_2015 = pd.read_csv('data/2015.csv')
df_2016 = pd.read_csv('data/2016.csv')
df_2017 = pd.read_csv('data/2017.csv')
df_2018 = pd.read_csv('data/2018.csv')
df_2019 = pd.read_csv('data/2019.csv')

# Data Cleaning

## Step one: Standardize columns

Since we will be dealing with 5 different datasets we must be able to standardized between the different datasets by first exploring and understanding each dataset. Initially we noticed that the datasets had very similar columns which we were: "Happiness Rank," "Happiness Score," "Country," "GDP," "Life Expectancy," "Freedom," "Government Corruption," "Generosity." It was observed however that there were many variations of these column names within each dataset so I was able to rename them in order to have a standard column name for each dataset. This will be useful when wanting to compare the same column between two or more different datasets.

In [78]:
#Before cleaning df_2015
df_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [79]:
df_2015 = pd.read_csv('data/2015.csv')
df_2015.count()
#We see that there is 158 rows in each column
df_2015 = df_2015.rename(columns={"Economy (GDP per Capita)":"GDP", "Health (Life Expectancy)":"Life Expectancy", "Trust (Government Corruption)":"Government Corruption"})                 
df_2015 = df_2015.drop(columns=["Region","Standard Error", "Family", "Dystopia Residual"])
#df_2015.columns.tolist() #Get the list of columns
df_2015 = df_2015[['Happiness Rank','Happiness Score','Country','GDP','Life Expectancy', 'Freedom','Government Corruption','Generosity']]
print("df_2015 data types:\n" + str(df_2015.dtypes))
df_2015.name = "df_2015"
df_2015.head()

df_2015 data types:
Happiness Rank             int64
Happiness Score          float64
Country                   object
GDP                      float64
Life Expectancy          float64
Freedom                  float64
Government Corruption    float64
Generosity               float64
dtype: object

,Happiness Rank,Happiness Score,Country,GDP,Life Expectancy,Freedom,Government Corruption,Generosity
0,1,7.587,Switzerland,1.39651,0.94143,0.66557,0.41978,0.29678
1,2,7.561,Iceland,1.30232,0.94784,0.62877,0.14145,0.43630
2,3,7.527,Denmark,1.32548,0.87464,0.64938,0.48357,0.34139
3,4,7.522,Norway,1.45900,0.88521,0.66973,0.36503,0.34699
4,5,7.427,Canada,1.32629,0.90563,0.63297,0.32957,0.45811

Cleaning df_2015: Off the top of our heads we noticed that the df_2015 dataset has 12 columns which contained column titles that were very clean. We opted however to rename some of them in order to create more simple dataframe titles. We also dropped a few columns that seemed irrelevant for data analysis or weren't common to other datasets. We utilized the "dtypes" function in order to make sure that all the data types of the dataset were ones we can use for the data analysis. We made sure that all the numbers are either ints or floats so we can compute or visual them. The order of the df is was also altered moving the columns in a way to be generalized across all five datasets. Putting the "Happiness Rank" and "Happiness Score" at the far left along with the country name, and putting the features to the right of those three columns.

In [80]:
#Before cleaning df_2016
df_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [81]:
df_2016 = pd.read_csv('data/2016.csv')
df_2016.count()
#We see that there is 157 rows in each column
df_2016 = df_2016.rename(columns={"Economy (GDP per Capita)":"GDP", "Health (Life Expectancy)":"Life Expectancy", "Trust (Government Corruption)":"Government Corruption"})                 
df_2016 = df_2016.drop(columns=["Region", "Lower Confidence Interval", "Upper Confidence Interval", "Family", "Dystopia Residual"])
#df_2015.columns.tolist() #Get the list of columns
df_2016 = df_2016[['Happiness Rank','Happiness Score','Country','GDP','Life Expectancy', 'Freedom','Government Corruption','Generosity']]
print("df_2016 data types:\n" + str(df_2016.dtypes))
df_2016.name = "df_2016"
df_2016.head()

df_2016 data types:
Happiness Rank             int64
Happiness Score          float64
Country                   object
GDP                      float64
Life Expectancy          float64
Freedom                  float64
Government Corruption    float64
Generosity               float64
dtype: object

,Happiness Rank,Happiness Score,Country,GDP,Life Expectancy,Freedom,Government Corruption,Generosity
0,1,7.526,Denmark,1.44178,0.79504,0.57941,0.44453,0.36171
1,2,7.509,Switzerland,1.52733,0.86303,0.58557,0.41203,0.28083
2,3,7.501,Iceland,1.42666,0.86733,0.56624,0.14975,0.47678
3,4,7.498,Norway,1.57744,0.79579,0.59609,0.35776,0.37895
4,5,7.413,Finland,1.40598,0.81091,0.57104,0.41004,0.25492

Cleaning df_2016: The process to clean df_2016 is very similar to the process to clean df_2015. The only differences between the two datasets are that df_2016 contains one less row and also includes one more column. Instead of the standard error column in df_2015, df_2016 contains two columns: "Lower Confidence Interval" and "Upper Confidence Interval" as a replacement for the "Standard Error." However, these are not necessary in order to perform our data analysis and are represented differntly among the datasets so we will be dropping both of these columns. Likewise in df_2015 we will be organizing the columns in a way that is standardized.

In [82]:
#Before cleaning df_2017
df_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [83]:
df_2017 = pd.read_csv('data/2017.csv')
df_2017.count()
#We see that there is 155 rows in each column
df_2017 = df_2017.rename(columns={"Happiness.Rank":"Happiness Rank","Happiness.Score":"Happiness Score", "Economy..GDP.per.Capita.":"GDP", "Health..Life.Expectancy.":"Life Expectancy", "Trust..Government.Corruption.":"Government Corruption"})                 
df_2017 = df_2017.drop(columns=["Whisker.high", "Whisker.low", "Family", "Dystopia.Residual"])
#df_2015.columns.tolist() #Get the list of columns
df_2017 = df_2017[['Happiness Rank','Happiness Score','Country','GDP','Life Expectancy', 'Freedom','Government Corruption','Generosity']]
df_2017.name = "df_2017"
df_2017.head()

,Happiness Rank,Happiness Score,Country,GDP,Life Expectancy,Freedom,Government Corruption,Generosity
0,1,7.537,Norway,1.616463,0.796667,0.635423,0.315964,0.362012
1,2,7.522,Denmark,1.482383,0.792566,0.626007,0.400770,0.355280
2,3,7.504,Iceland,1.480633,0.833552,0.627163,0.153527,0.475540
3,4,7.494,Switzerland,1.564980,0.858131,0.620071,0.367007,0.290549
4,5,7.469,Finland,1.443572,0.809158,0.617951,0.382612,0.245483

Cleaning df_2017: Right off the bat when cleaning this dataset we observed the messy names for the columns. There are periods that seperate words instead of spaces. This was definitely a priority when cleaning the dataset. We were able to change all the necessary columns to the standard that we have created to resemble the previous datasets cleaned. Order is the same as previous datasets that were cleaned.

In [84]:
#Before cleaning df_2018
df_2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [85]:
df_2018 = pd.read_csv('data/2018.csv')
df_2018.count()
#We see that there is 156 rows in each column
df_2018 = df_2018.rename(columns={"Overall rank":"Happiness Rank","Country or region":"Country", "Score":"Happiness Score", "GDP per capita":"GDP", "Healthy life expectancy":"Life Expectancy", "Freedom to make life choices":"Freedom", "Perceptions of corruption":"Government Corruption"})                 
df_2018 = df_2018.drop(columns=[])
#df_2015.columns.tolist() #Get the list of columns
df_2018 = df_2018[['Happiness Rank','Happiness Score','Country','GDP','Life Expectancy', 'Freedom','Government Corruption','Generosity','Social support']]
df_2018.name = "df_2018"
df_2018.head()

,Happiness Rank,Happiness Score,Country,GDP,Life Expectancy,Freedom,Government Corruption,Generosity,Social support
0,1,7.632,Finland,1.305,0.874,0.681,0.393,0.202,1.592
1,2,7.594,Norway,1.456,0.861,0.686,0.340,0.286,1.582
2,3,7.555,Denmark,1.351,0.868,0.683,0.408,0.284,1.590
3,4,7.495,Iceland,1.343,0.914,0.677,0.138,0.353,1.644
4,5,7.487,Switzerland,1.420,0.927,0.660,0.357,0.256,1.549

Cleaning df_2018: There isn't much to clean for for df_2018 besides renaming the columns.

In [86]:
#Before cleaning df_2019
df_2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [87]:
df_2019 = pd.read_csv('data/2019.csv')
df_2019.count()
#We see that there is 156 rows in each column
df_2019 = df_2019.rename(columns={"Overall rank":"Happiness Rank","Country or region":"Country", "Score":"Happiness Score", "GDP per capita":"GDP", "Healthy life expectancy":"Life Expectancy", "Freedom to make life choices":"Freedom", "Perceptions of corruption":"Government Corruption"})                 
df_2019 = df_2019.drop(columns=[])
#df_2015.columns.tolist() #Get the list of columns
df_2019 = df_2019[['Happiness Rank','Happiness Score','Country','GDP','Life Expectancy', 'Freedom','Government Corruption','Generosity','Social support']]
df_2019.name = "df_2019"
df_2019.head()

,Happiness Rank,Happiness Score,Country,GDP,Life Expectancy,Freedom,Government Corruption,Generosity,Social support
0,1,7.769,Finland,1.340,0.986,0.596,0.393,0.153,1.587
1,2,7.600,Denmark,1.383,0.996,0.592,0.410,0.252,1.573
2,3,7.554,Norway,1.488,1.028,0.603,0.341,0.271,1.582
3,4,7.494,Iceland,1.380,1.026,0.591,0.118,0.354,1.624
4,5,7.488,Netherlands,1.396,0.999,0.557,0.298,0.322,1.522

Cleaning df_2018: Like df_2018, there isn't much to clean for for df_2019 either besides renaming the columns.

Now all our datasets look similar!

In [88]:
df_2015.head()

,Happiness Rank,Happiness Score,Country,GDP,Life Expectancy,Freedom,Government Corruption,Generosity
0,1,7.587,Switzerland,1.39651,0.94143,0.66557,0.41978,0.29678
1,2,7.561,Iceland,1.30232,0.94784,0.62877,0.14145,0.43630
2,3,7.527,Denmark,1.32548,0.87464,0.64938,0.48357,0.34139
3,4,7.522,Norway,1.45900,0.88521,0.66973,0.36503,0.34699
4,5,7.427,Canada,1.32629,0.90563,0.63297,0.32957,0.45811

In [89]:
df_2016.head()

,Happiness Rank,Happiness Score,Country,GDP,Life Expectancy,Freedom,Government Corruption,Generosity
0,1,7.526,Denmark,1.44178,0.79504,0.57941,0.44453,0.36171
1,2,7.509,Switzerland,1.52733,0.86303,0.58557,0.41203,0.28083
2,3,7.501,Iceland,1.42666,0.86733,0.56624,0.14975,0.47678
3,4,7.498,Norway,1.57744,0.79579,0.59609,0.35776,0.37895
4,5,7.413,Finland,1.40598,0.81091,0.57104,0.41004,0.25492

In [90]:
df_2017.head()

,Happiness Rank,Happiness Score,Country,GDP,Life Expectancy,Freedom,Government Corruption,Generosity
0,1,7.537,Norway,1.616463,0.796667,0.635423,0.315964,0.362012
1,2,7.522,Denmark,1.482383,0.792566,0.626007,0.400770,0.355280
2,3,7.504,Iceland,1.480633,0.833552,0.627163,0.153527,0.475540
3,4,7.494,Switzerland,1.564980,0.858131,0.620071,0.367007,0.290549
4,5,7.469,Finland,1.443572,0.809158,0.617951,0.382612,0.245483

In [91]:
df_2018.head()

,Happiness Rank,Happiness Score,Country,GDP,Life Expectancy,Freedom,Government Corruption,Generosity,Social support
0,1,7.632,Finland,1.305,0.874,0.681,0.393,0.202,1.592
1,2,7.594,Norway,1.456,0.861,0.686,0.340,0.286,1.582
2,3,7.555,Denmark,1.351,0.868,0.683,0.408,0.284,1.590
3,4,7.495,Iceland,1.343,0.914,0.677,0.138,0.353,1.644
4,5,7.487,Switzerland,1.420,0.927,0.660,0.357,0.256,1.549

In [92]:
df_2019.head()

,Happiness Rank,Happiness Score,Country,GDP,Life Expectancy,Freedom,Government Corruption,Generosity,Social support
0,1,7.769,Finland,1.340,0.986,0.596,0.393,0.153,1.587
1,2,7.600,Denmark,1.383,0.996,0.592,0.410,0.252,1.573
2,3,7.554,Norway,1.488,1.028,0.603,0.341,0.271,1.582
3,4,7.494,Iceland,1.380,1.026,0.591,0.118,0.354,1.624
4,5,7.488,Netherlands,1.396,0.999,0.557,0.298,0.322,1.522

## Step Two: Check for Missing Values

For proper data analysis and to avoid problems in the future, data cleaning is very important. When we loaded in the datasets (2015.csv, 2016.csv, 2017.csv, 2018.csv, 2019.csv) we noticed that they were already pretty clean, but we still implemented a few adjustments in order to make the data look better. To begin the cleaning the best first step is to always check for any null values in the dataset that can cause error when try to manipulate or visualize the data.

In [93]:
print("These will show any missing values in the raw dataframes.\n")
year_list = [df_2015,df_2016,df_2017,df_2018,df_2019]
for i in year_list:
    print(i.name)
    print(i.isnull().sum())
    print("\n")

These will show any missing values in the raw dataframes.

df_2015
Happiness Rank           0
Happiness Score          0
Country                  0
GDP                      0
Life Expectancy          0
Freedom                  0
Government Corruption    0
Generosity               0
dtype: int64


df_2016
Happiness Rank           0
Happiness Score          0
Country                  0
GDP                      0
Life Expectancy          0
Freedom                  0
Government Corruption    0
Generosity               0
dtype: int64


df_2017
Happiness Rank           0
Happiness Score          0
Country                  0
GDP                      0
Life Expectancy          0
Freedom                  0
Government Corruption    0
Generosity               0
dtype: int64


df_2018
Happiness Rank           0
Happiness Score          0
Country                  0
GDP                      0
Life Expectancy          0
Freedom                  0
Government Corruption    1
Generosity               0
Social support           0
dtype: int64


df_2019
Happiness Rank           0
Happiness Score          0
Country                  0
GDP                      0
Life Expectancy          0
Freedom                  0
Government Corruption    0
Generosity               0
Social support           0
dtype: int64

In the previous cell we used a simple loop to go through all the datasets we will be using. We observe that there is only one null value in the "df_2018" dataframe in the "Perceptions of corruption" column. It's pretty amazing to see that there is only ONE null value. This makes the missing value cleaning process very easy. We will not have to impute much data or remove large portions of our data. Doing these things may not be the best for data analysis  since those data points would be fabricated by us.  For now let's impute the one null value in df_2018 which happens to be the value for perceptions of corruption for United Arab Emirates. We will impute with the average of United Arab Emirates's Perception of Corruption Scores in the past years: 2015, 2016, 2017 since we felt that this average would be closer to what the actual value would have been than just using the average of all countries perceptions of corruption scores in df_2018.

In [ ]:
year_list = [df_2015,df_2016,df_2017]
avg = 0
for df in year_list:
    avg += df[df['Country'] == 'United Arab Emirates']['Government Corruption'].item()
    
avg = avg/3
df_2018 = df_2018.fillna(avg)

Now, df_2018 has no more null values!

In [125]:
print(df_2018.isnull().sum())
df_2018[df_2018['Country'] == 'United Arab Emirates']

Happiness Rank           0
Happiness Score          0
Country                  0
GDP                      0
Life Expectancy          0
Freedom                  0
Government Corruption    0
Generosity               0
Social support           0
dtype: int64

,Happiness Rank,Happiness Score,Country,GDP,Life Expectancy,Freedom,Government Corruption,Generosity,Social support
19,20,6.774,United Arab Emirates,2.096,0.67,0.284,0.35531,0.186,0.776

# Data Analysis & Results

Data Analysis on 2015 Dataframe